<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}" style="font-size: 4vw;">All notes</a>
         <a href = "{{ url_for('new') }}" style="font-size: 4vw;">Add Note</a>
         <a href = "{{ url_for('queue') }}" style="font-size: 4vw;">Notes queue</a>
       </h3>
       <div style="white-space: pre-wrap; font-size: 1.2vw;" dir="auto" id="notes-analytics">(notes-analytics)</div>
      <hr/>

      <main>
        {% block content %}{% endblock %}
      </main>
      <script>
         fetch("/get_usage_analytics")
         .then(response => response.json())
         .then(data => {
            // Update the content of the HTML page with the new note
            analytics=data
            document.getElementById("notes-analytics").innerText = '( total_notes: ' + data.total_notes + '  ----  read_today: ' + data.read_today +' )';
            currentNoteId = data.note_id;
         })
      .catch(error => {
         console.error("error fetching analytics", error);
      });
   
      </script>
    </body>
    
</html>