{% extends 'base.html' %}

{% block content %}
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "title">Title</label><br>
         <input type = "text"   dir="auto" name = "title" placeholder = "title" /><br>

         <label for = "body">body</label><br>
         <textarea name = "body" placeholder = "body" dir="auto"></textarea><br>
         <input type = "submit" value = "Submit" />
      </form>
{% endblock %}
