<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}" style="font-size: 4vw;">All notes</a>
         <a href = "{{ url_for('new') }}" style="font-size: 4vw;">Add Note</a>
         <a href = "{{ url_for('queue') }}" style="font-size: 4vw;">Notes queue</a>
       </h3>
         
      <hr/>
      <h3>Add new notes here</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "title">Title</label><br>
         <input type = "text"   dir="auto" name = "title" placeholder = "title" /><br>

         <label for = "body">body</label><br>
         <textarea name = "body" placeholder = "body" dir="auto"></textarea><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>