<!DOCTYPE html>
<html>
<head>
	<title>Note Taking App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

	
<body>
	<h3>
		<a href = "{{ url_for('show_all') }}" style="font-size: 4vw;">All notes</a>
		<a href = "{{ url_for('new') }}" style="font-size: 4vw;">Add Note</a>
		<a href = "{{ url_for('queue') }}" style="font-size: 4vw;">Notes queue</a>
	 </h3>
		
	 <hr/>

	<div id="note">
		<div id="navigation">
			<button style="font-size: 2vw;" id="previous-note">&larr; Previous Note</button>
			<button style="font-size: 2vw;" id="next-note">Next Note &rarr;</button>
		</div>
		<h2 style="font-size: 4vw;" id="note-title" dir="auto">Note Title</h2>
		<div style="font-size: 4vw;white-space: pre-wrap;" id="note-body"  dir="auto">Note Body</div>

		<button style="font-size: 2vw;" id="delete-note">DELETE &rarr;</button>
		<button style="font-size: 2vw;" id="edit-note">EDIT &rarr;</button>

		<br>
		<br>
		<div style="white-space: pre-wrap; font-size: 1.2vw;" dir="auto" id="note-metadata">(note metadata)</div>
	</div>



</body>

<script>

	var currentNoteId = 25; // dummy value for the global variable

	// Send a request to the server to get the last read note
	fetch("/get_current_note")
	.then(response => response.json())
	.then(data => {
		// Update the content of the HTML page with the new note
		note=data
		document.getElementById("note-title").innerText = data.title;
		document.getElementById("note-body").innerText = data.body;
		document.getElementById("note-metadata").innerText = '( created_at: ' + data.created_at + '  ----  last_read_at: ' + data.read_at +' )';
		currentNoteId = data.note_id;
	})
	.catch(error => {
		console.error("Error fetching next note:", error);
	});

	// Function to display the current note
	function displayNote() {
		currentNoteId=note.note_id;
		document.getElementById("note-title").innerHTML = note.title;
		document.getElementById("note-body").innerHTML = note.body;
		document.getElementById("note-metadata").innerText = '( created_at: ' + note.created_at + '  ----  last_read_at: ' + note.read_at +' )';

		fetch("/update_last_read?id="+currentNoteId)
		.then(response => response.json())
		.catch(error => {
			console.error("Error saving this note as last read:", error);
		});
	}

	// Display the initial note
	displayNote();

	// Function to navigate to the previous note
	function previousNote() {
		// Send a request to the server to get the next note
		fetch("/get_previous_note?id="+currentNoteId)
			.then(response => response.json())
			.then(data => {
				// Update the content of the HTML page with the new note
				currentNoteId = data.note_id;
				note=data;
				displayNote();
			})
			.catch(error => {
				console.error("Error fetching previous note:", error);
			});
	}

	
	// Function to navigate to the next note
	function nextNote() {

		// Send a request to the server to get the next note
		fetch("/get_next_note?id="+currentNoteId)
			.then(response => response.json())
			.then(data => {
				// Update the content of the HTML page with the new note
				currentNoteId = data.note_id;
				note=data;
				displayNote();
			})
			.catch(error => {
				console.error("Error fetching next note:", error);
			});
			
	}

	function deleteNote() {

		// Send a request to the server to delete the current not and get the next one
		fetch("/delete?id="+currentNoteId)
			.then(response => response.json())
			.then(data => {
				// Update the content of the HTML page with the next note
				currentNoteId = data.note_id;
				note=data;
				displayNote();
			})
			.catch(error => {
				console.error("Error fetching next note:", error);
			});
			
	}


	// Add click event listeners to the arrow buttons
	document.getElementById("previous-note").addEventListener("click", previousNote);
	document.getElementById("next-note").addEventListener("click", nextNote);
	document.getElementById("delete-note").addEventListener("click", deleteNote);
	document.getElementById("edit-note").onclick = function () {
		var link="{{ url_for('edit', note_id=111) }}".split('/edit')[0];
        location.href = link+'/edit/'+currentNoteId+"?enote_id="+currentNoteId;
    };

	
</script>
</html>