<!DOCTYPE html>
<html>
<head>
	<title>Note Taking App</title>
</head>

	
<body>
	<h3>
		<a href = "{{ url_for('show_all') }}">All notes</a>
	 </h3>
	 <h3>
		<a href = "{{ url_for('new') }}">Add Note</a>
	 </h3>
	 <h3>
		<a href = "{{ url_for('queue') }}">Notes queue</a>
	 </h3>
		
	 <hr/>
	<h1>Note Taking App</h1>

	<div id="note">
		<h2 id="note-title">Note Title</h2>
		<p id="note-body">Note Body</p>
	</div>

	<div id="navigation">
		<button id="previous-note">&larr; Previous Note</button>
		<button id="next-note">Next Note &rarr;</button>
	</div>


</body>
<script>

	// Initialize the current note index to 0
	var currentNoteIndex = 0;
	var notes = JSON.parse('{{ my_array|tojson|safe }}');

	// Function to display the current note
	function displayNote() {
		var note = notes[currentNoteIndex];
		document.getElementById("note-title").innerHTML = note.title;
		document.getElementById("note-body").innerHTML = note.body;
	}

	// Function to navigate to the previous note
	function previousNote() {
		if (currentNoteIndex > 0) {
			currentNoteIndex--;
			displayNote();
		}
		else {
			currentNoteIndex = notes.length -1;
			displayNote();
		}
	}

	// Function to navigate to the next note
	function nextNote() {
		if (currentNoteIndex < notes.length -1) {
			currentNoteIndex++;
			displayNote();
		}
		else {
			currentNoteIndex = 0;
			displayNote();
		}
	}

	// Add click event listeners to the arrow buttons
	document.getElementById("previous-note").addEventListener("click", previousNote);
	document.getElementById("next-note").addEventListener("click", nextNote);

	// Display the initial note
	displayNote();
</script>
</html>