<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}" style="font-size: 4vw;">All notes</a>
         <a href = "{{ url_for('new') }}" style="font-size: 4vw;">Add Note</a>
         <a href = "{{ url_for('queue') }}" style="font-size: 4vw;">Notes queue</a>
       </h3>
         
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		

            {% for note in notes %}
      
            <h2>{{ note[1] }}</h2>
            <p>{{ note[2] }}</p>
               
            {% endfor %}

   </body>
</html>