<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}" style="font-size: 4vw;">All notes</a>
         <a href = "{{ url_for('new') }}" style="font-size: 4vw;">Add Note</a>
         <a href = "{{ url_for('queue') }}" style="font-size: 4vw;">Notes queue</a>
       </h3>
         
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		

            {% for note in notes %}
      
            <div style="white-space: pre-wrap; font-size: 1.2vw;" dir="auto"> created_at: {{ note[3] }}    ------    last_read: {{ note[4] }}</div>
            <h2 dir="auto">{{ note[1] }}</h2>
            <div style="white-space: pre-wrap;" dir="auto">{{ note[2] }}</div>
            <hr/>
               
            {% endfor %}

   </body>
</html>